In [1]:
import pandas as pd
import numpy as np

In [2]:
population = pd.read_csv('NationPop.csv', index_col=0)
gdp = pd.read_csv('NationGDP.csv', index_col=0)
education_gdp = pd.read_csv('Education_of_GDP.csv', index_col=0)
health_gdp = pd.read_csv('Current_health_ of_GDP.csv', index_col=0)
health_capita = pd.read_csv('Current_health_ of_capita.csv.csv', index_col=0)

population.rename(index = {'Russian Federation': 'Russia'},inplace=True)
gdp.rename(index = {'Russian Federation': 'Russia'},inplace=True)
education_gdp.rename(index = {'Russian Federation': 'Russia'},inplace=True)
health_capita.rename(index = {'Russian Federation': 'Russia'},inplace=True)
health_gdp.rename(index = {'Russian Federation': 'Russia'},inplace=True)

population.rename(index = {'United Kingdom': 'UK'},inplace=True)
gdp.rename(index = {'United Kingdom': 'UK'},inplace=True)
education_gdp.rename(index = {'United Kingdom': 'UK'},inplace=True)
health_capita.rename(index = {'United Kingdom': 'UK'},inplace=True)
health_gdp.rename(index = {'United Kingdom': 'UK'},inplace=True)

population.rename(index = {'United States': 'US'},inplace=True)
gdp.rename(index = {'United States': 'US'},inplace=True)
education_gdp.rename(index = {'United States': 'US'},inplace=True)
health_capita.rename(index = {'United States': 'US'},inplace=True)
health_gdp.rename(index = {'United States': 'US'},inplace=True)

In [3]:
country = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK',
           'US', 'South Africa', 'China', 'India', 'Russia', 'Brazil']
years = ['2000', '2002', '2004', '2006', '2008', '2010', '2012', '2014', '2016']
country_code = population.loc[country, 'Country Code']
country_code

Country Name
Canada          CAN
France          FRA
Germany         DEU
Italy           ITA
Japan           JPN
UK              GBR
US              USA
South Africa    ZAF
China           CHN
India           IND
Russia          RUS
Brazil          BRA
Name: Country Code, dtype: object

In [4]:
population = population.loc[:,years]
population = population.loc[country, :] / 1000000

In [5]:
gdp = gdp.loc[:,years]
gdp = gdp.loc[country, :] /1000000000

In [24]:
population['2016']

Country Name
Canada            36.264604
France            66.859768
Germany           82.348669
Italy             60.627498
Japan            126.994511
UK                65.595565
US               323.405935
South Africa      56.015473
China           1378.665000
India           1324.171354
Russia           144.342396
Brazil           207.652865
Name: 2016, dtype: float64

In [7]:
gdp_capita = pd.DataFrame(np.array(gdp)/np.array(population), index = gdp.index) * 1000
gdp_capita.columns = years

In [23]:
gdp_capita['2016']

Country Name
Canada          42349.007865
France          36870.154859
Germany         42232.619449
Italy           30668.921881
Japan           38972.314323
UK              40412.030905
US              57588.615373
South Africa     5279.737618
China            8117.272869
India            1717.474097
Russia           8900.572774
Brazil           8639.370326
Name: 2016, dtype: float64

In [8]:
education_gdp = education_gdp.loc[:,years]
education_gdp = education_gdp.loc[country, :]

In [9]:
education = pd.DataFrame(np.array(education_gdp) * np.array(gdp)/100, index = education_gdp.index)
education.columns = years

In [10]:
education_capita = pd.DataFrame(np.array(education)/np.array(population), index = education.index) * 1000
education_capita.columns = years

In [35]:
education_capita

,2000,2002,2004,2006,2008,2010,2012,2014,2016,Growth,Rate,Country Code
Country Name,,,,,,,,,,,,
Canada,1312.838906,1210.983934,NaN,NaN,2161.257527,2547.889265,NaN,NaN,NaN,NaN,NaN,CAN
France,1239.370745,1313.090936,1909.523921,1988.790997,2472.297823,2313.341622,2230.300144,2370.666259,2003.004346,57.324637,2.478001,FRA
Germany,NaN,NaN,NaN,1559.715687,2015.126789,2053.205811,2173.872933,2364.109175,2027.558497,310.903363,15.142338,DEU
Italy,861.974831,987.102577,1370.794827,1516.099910,1789.335089,1560.305823,1421.775372,1442.500697,1174.444895,-117.805126,-7.550131,ITA
Japan,1354.852156,1118.946478,1312.724893,1179.630106,1305.730693,1619.857418,1794.565824,1368.351743,NaN,-251.505675,-15.526408,JPN
UK,1139.381880,1397.702814,1908.351225,2221.844600,2308.225080,2244.302954,NaN,2650.280798,2217.396012,405.977844,18.089262,GBR
US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2713.907939,NaN,NaN,NaN,USA
South Africa,162.327752,124.697545,240.523048,279.127811,276.802993,416.334868,476.480091,388.738417,313.647565,-27.596451,-6.628427,ZAF
China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHN
India,18.979982,NaN,20.829951,24.892201,NaN,45.456024,55.962226,NaN,NaN,NaN,NaN,IND
Russia,52.080826,91.178887,145.546912,267.552832,477.250899,NaN,584.929511,574.715291,333.167130,NaN,NaN,RUS
Brazil,147.655159,105.747136,143.997469,285.424186,463.003897,634.029543,719.678063,715.399993,NaN,81.370450,12.833858,BRA

In [26]:
health_gdp = health_gdp.loc[:,years]
health_gdp = health_gdp.loc[country, :]

In [27]:
health_capita = health_capita.loc[:,years]
health_capita = health_capita.loc[country, :]

In [31]:
health = pd.DataFrame(np.array(health_capita) * np.array(population), index = health_capita.index) / 1000
health.columns = years

ValueError: operands could not be broadcast together with shapes (12,9) (12,13)

In [32]:
health_capita['2014']

Country Name
Canada          5028.982333
France          4779.179428
Germany         5293.384484
Italy           3190.088143
Japan           4099.465080
UK              4566.650150
US              9059.521156
South Africa     509.833261
China            376.194012
India             57.151140
Russia           742.284965
Brazil          1014.092105
Name: 2014, dtype: float64

In [30]:
CAN = pd.DataFrame({'Population':population.loc['Canada',:],'GDP':gdp.loc['Canada',:],'GDPperCapita':gdp_capita.loc['Canada',:],
                    'HealthcareSpending':health.loc['Canada',:],'EducationSpending':education.loc['Canada',:],
                    'HealthcarePerCapita':health_capita.loc['Canada',:],'EducationPerCapita':education_capita.loc['Canada',:]})

FRA = pd.DataFrame({'Population':population.loc['France',:],'GDP':gdp.loc['France',:],'GDPperCapita':gdp_capita.loc['France',:],
                    'HealthcareSpending':health.loc['France',:],'EducationSpending':education.loc['France',:],
                    'HealthcarePerCapita':health_capita.loc['France',:],'EducationPerCapita':education_capita.loc['France',:]})

DEU = pd.DataFrame({'Population':population.loc['Germany',:],'GDP':gdp.loc['Germany',:],'GDPperCapita':gdp_capita.loc['Germany',:],
                    'HealthcareSpending':health.loc['Germany',:],'EducationSpending':education.loc['Germany',:],
                    'HealthcarePerCapita':health_capita.loc['Germany',:],'EducationPerCapita':education_capita.loc['Germany',:]})

ITA = pd.DataFrame({'Population':population.loc['Italy',:],'GDP':gdp.loc['Italy',:],'GDPperCapita':gdp_capita.loc['Italy',:],
                    'HealthcareSpending':health.loc['Italy',:],'EducationSpending':education.loc['Italy',:],
                    'HealthcarePerCapita':health_capita.loc['Italy',:],'EducationPerCapita':education_capita.loc['Italy',:]})

JPN = pd.DataFrame({'Population':population.loc['Japan',:],'GDP':gdp.loc['Japan',:],'GDPperCapita':gdp_capita.loc['Japan',:],
                    'HealthcareSpending':health.loc['Japan',:],'EducationSpending':education.loc['Japan',:],
                    'HealthcarePerCapita':health_capita.loc['Japan',:],'EducationPerCapita':education_capita.loc['Japan',:]})

GBR = pd.DataFrame({'Population':population.loc['UK',:],'GDP':gdp.loc['UK',:],
                    'GDPperCapita':gdp_capita.loc['UK',:],'HealthcareSpending':health.loc['UK',:],
                    'EducationSpending':education.loc['UK',:],'HealthcarePerCapita':health_capita.loc['UK',:],
                    'EducationPerCapita':education_capita.loc['UK',:]})

USA = pd.DataFrame({'Population':population.loc['US',:],'GDP':gdp.loc['US',:],
                    'GDPperCapita':gdp_capita.loc['US',:],'HealthcareSpending':health.loc['US',:],
                    'EducationSpending':education.loc['US',:],'HealthcarePerCapita':health_capita.loc['US',:],
                    'EducationPerCapita':education_capita.loc['US',:]})


ZAF = pd.DataFrame({'Population':population.loc['South Africa',:],'GDP':gdp.loc['South Africa',:],
                    'GDPperCapita':gdp_capita.loc['South Africa',:],
                    'HealthcareSpending':health.loc['South Africa',:],'EducationSpending':education.loc['South Africa',:],
                    'HealthcarePerCapita':health_capita.loc['South Africa',:],
                    'EducationPerCapita':education_capita.loc['South Africa',:]})

CHN = pd.DataFrame({'Population':population.loc['China',:],'GDP':gdp.loc['China',:],'GDPperCapita':gdp_capita.loc['China',:],
                    'HealthcareSpending':health.loc['China',:],'EducationSpending':education.loc['China',:],
                    'HealthcarePerCapita':health_capita.loc['China',:],'EducationPerCapita':education_capita.loc['China',:]})

IND = pd.DataFrame({'Population':population.loc['India',:],'GDP':gdp.loc['India',:],'GDPperCapita':gdp_capita.loc['India',:],
                    'HealthcareSpending':health.loc['India',:], 'EducationSpending':education.loc['India',:],
                    'HealthcarePerCapita':health_capita.loc['India',:],'EducationPerCapita':education_capita.loc['India',:]})

RUS = pd.DataFrame({'Population':population.loc['Russia',:],'GDP':gdp.loc['Russia',:],'GDPperCapita':gdp_capita.loc['Russia',:],
                    'HealthcareSpending':health.loc['Russia',:],'EducationSpending':education.loc['Russia',:],
                    'HealthcarePerCapita':health_capita.loc['Russia',:],'EducationPerCapita':education_capita.loc['Russia',:]})

BRA = pd.DataFrame({'Population':population.loc['Brazil',:],'GDP':gdp.loc['Brazil',:],'GDPperCapita':gdp_capita.loc['Brazil',:],
                    'HealthcareSpending':health.loc['Brazil',:], 'EducationSpending':education.loc['Brazil',:],
                    'HealthcarePerCapita':health_capita.loc['Brazil',:],'EducationPerCapita':education_capita.loc['Brazil',:]})

In [17]:
RUS

,Population,GDP,GDPperCapita,HealthcareSpending,EducationSpending,HealthcarePerCapita,EducationPerCapita
2000,146.596557,259.708,1771.583217,13.987882,7.634870,95.417532,52.080826
2002,145.306046,345.470,2377.533554,20.455543,13.248844,140.775578,91.178887
2004,144.067054,591.017,4102.374440,30.145949,20.968515,209.249432,145.546912
2006,143.049528,989.931,6920.197598,50.460653,38.273306,352.749522,267.552832
2008,142.742350,1660.850,11635.299545,87.053582,68.123915,609.865129,477.250899
2010,142.849449,1524.920,10675.014924,81.049589,NaN,567.377682,NaN
2012,143.201676,2210.260,15434.595891,108.843391,83.762886,760.070648,584.929511
2014,143.819666,2063.660,14348.941681,106.755176,82.655361,742.284965,574.715291
2016,144.342396,1284.730,8900.572774,NaN,48.090142,NaN,333.167130

In [18]:
health['Totel'] = health[years].sum(axis=1)
health['Average'] = health[years].mean(axis=1)
health['Growth in Billion'] = health['2014'] - health['2010']
health['Rate'] = 100 * health['Growth in Billion'] / health['2010']
health['Country Code'] = country_code

health_gdp['Totel']=health_gdp[years].sum(axis=1)
health_gdp['Average']=health_gdp[years].mean(axis=1)
health_gdp['Growth'] = health_gdp['2014'] - health_gdp['2010']
health_gdp['Rate'] = 100 * health_gdp['Growth'] / health_gdp['2010']
health_gdp['Country Code'] = country_code

health_capita['Totel'] = health_capita[years].sum(axis=1)
health_capita['Average'] = health_capita[years].mean(axis=1)
health_capita['Growth'] = health_capita['2014'] - health_capita['2010']
health_capita['Rate'] = 100 * health_capita['Growth'] / health_capita['2010']
health_capita['Country Code'] = country_code

gdp['Totel']=gdp[years].sum(axis=1)
gdp['Average']=gdp[years].mean(axis=1)
gdp['Growth in Billion'] = gdp['2014'] - gdp['2010']
gdp['Rate'] = 100 * gdp['Growth in Billion'] / gdp['2010']

gdp_capita['Totel']=gdp_capita[years].sum(axis=1)
gdp_capita['Average']=gdp_capita[years].mean(axis=1)
gdp_capita['Growth'] = gdp_capita['2014'] - gdp_capita['2010']
gdp_capita['Rate'] = 100 * gdp_capita['Growth'] / gdp_capita['2010']

population['Totel']=population[years].sum(axis=1)
population['Average']=population[years].mean(axis=1)
population['Growth in Million'] = population['2014'] - population['2010']
population['Rate'] = 100 * population['Growth in Million'] / population['2010']

education['Growth in Billion'] = education['2014'] - education['2010']
education['Rate'] = 100 * education['Growth in Billion'] / education['2010']
education['Country Code'] = country_code

education_capita['Growth'] = education_capita['2014'] - education_capita['2010']
education_capita['Rate'] = 100 * education_capita['Growth'] / education_capita['2010']
education_capita['Country Code'] = country_code

education_gdp['Growth'] = education_gdp['2014'] - education_gdp['2010']
education_gdp['Rate'] = 100 * education_gdp['Growth'] / education_gdp['2010']
education_gdp['Country Code'] = country_code

In [19]:
total_data = pd.ExcelWriter('project_data.xlsx')

population.to_excel(total_data, sheet_name='population')
gdp.to_excel(total_data, sheet_name='gdp')
gdp_capita.to_excel(total_data, sheet_name='gdp_capita')

health.to_excel(total_data, sheet_name='health')
health_capita.to_excel(total_data, sheet_name='health_capita')
health_gdp.to_excel(total_data, sheet_name='health_gdp')

education.to_excel(total_data, sheet_name='education')
education_capita.to_excel(total_data, sheet_name='education_capita')
education_gdp.to_excel(total_data, sheet_name='education_gdp')

CAN.to_excel(total_data, sheet_name='Canada')
FRA.to_excel(total_data, sheet_name='France')
DEU.to_excel(total_data, sheet_name='Germany')
ITA.to_excel(total_data, sheet_name='Italy')
JPN.to_excel(total_data, sheet_name='Japan')
GBR.to_excel(total_data, sheet_name='United Kingdom')
USA.to_excel(total_data, sheet_name='United States')
ZAF.to_excel(total_data, sheet_name='South Africa')
CHN.to_excel(total_data, sheet_name='China')
IND.to_excel(total_data, sheet_name='India')
RUS.to_excel(total_data, sheet_name='Russia')
BRA.to_excel(total_data, sheet_name='Brazil')
total_data.save()